<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/w3css/html5.css">
 <style>
body {background-color:lightgrey}
h1   {color:blue}
p    {color:green}
</style>





</head>
<body>

<header class="w3-container orange">
  <h1>jajeesha resume</h1> 
   <img src="../../assets/images/jajisha.JPG"  width="200" height="200"> 
  <h2>objective</h2>     
  <p> Seeking a challenging position in software development where my strong programming and problem solving skills, and my  background knowledge in machine learning can be used in new, innovative ways.  </p>      
</header>

<article class="w3-row w3-card-4">



<div class="w3-third w3-container">
<hr>
  <h2>education</h2>
  <p>B.Tech (C.S.E)  from Jawaharlal Nehru Technological University (2009-2013) (with 61.28% )</p>
  <p>Intermediate from Board of Intermediate (2007-2009)(with 67%)</p>
    <p>SSC from Board of Secondary Education (2006-2007) (with67%)</p>
    </hr>

</div>





<div class="w3-third w3-container">
  <h2>Project details</h2>
  <hr><h2 style="color:red">  Mini project:</h2>    <p>This project-scheduler feature is made available to public for interaction    with all projects as well as clients and company’s also. It is a simple and easy to organize to all fuse projects with in order and easy to understand to everyone. and it is a none of like previous systems its main objective is every details about the every project with month,day,time, also</p>

<p><b>hnologies: .net, SQL Server, HTML, Java Script</b></p>
 
      <h2 style="color:red">Main project</h2>  <p>Integrity efficient audit services on clouds this Is the product of cloud computing. and this feature gives large and bulk amount of files to be uploaded as simple files in a short time. All authorized users are identified and secured through a key. 
   The authorized user only having these features by providing keys. And key will be sent to authorized user only.</p>

<p><b>Technologies:, .net, SQL Server, HTML, Java Script</b></p></hr>
</div>






<div class="w3-third w3-container">
  <hr>
  <h2>aboutme</h2>
  <p><br>Name:T.JAJEESHA</br>

  <br>Father Name: T.SIVANNARAYANA</br>
  <br>chinna school road,kalavapamula,uyyuru mandal,krishna dt,AP</br>
  <br>phn number: 9703362823</br>
<br>Date of birth: 04/05/1991</br>
<br>Gender: FEMALE</br>

<br>Nationality: INDIAN</br>

<br>Marital status: UN-MARRIED</br>

<br>Languages: ENGLISH, TELUGU </br></p></hr>
</div>

</article>

</body>
</html>
